  /******************************************
  /* Reset
  /*******************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* 
Header & Footer
*/
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  padding-top: 50px;
}
.nav {
  display: flex;
  justify-content: center;
}

.primary-header a,
.primary-footer a {
  color: black;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #344945;
}

.nav li {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}

.primary-footer{
  padding-top: 50px;
  padding-bottom: 15px;
}

.socmed{
  display: flex;
  justify-content: center;
  align-items: center;
}

.socmed img {
  padding: 10px;
  height: 50px;
  margin: 22px 0 22px 0;
  vertical-align: top;
}


  /******************************************
  /* Styles
  /*******************************************/

body{
  background: #f4f4f4;
  color: black;
  margin: 0 250px;
}

h1, h2, h3, h4 {
  color: #648880;
}

h1 {
  font-size: 25px;
  line-height: 44px;
  text-transform: capitalize;
}
h2 {
  font-size: 20px;
  line-height: 44px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
p{
  font-size: 15px;
  font-weight: 381;
  padding: 5px 0;
}

  

    /******************************************
  /* Index
  /*******************************************/
.intro h1{
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.intro h3{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.logoimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoimg img {
  padding: 10px;
  height: 40%;
  width: 40%;
  margin: 10px 0;
  vertical-align: top;
}

.quote{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b30000;
  padding: 10px 0;
}

  /*/
  Buttons
  /*/

  .facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
  }
  
  .facebook img {
    max-width: 50%;
    height: auto;
    max-height: 75px; /* Adjust the max-height as needed */
    margin: 0 auto; /* Center horizontally */
  }

  .button-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px; /* Adjust margin as needed */
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db; /* Adjust background color as needed */
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #2980b9; /* Adjust hover background color as needed */
  }



    /******************************************
  /* Gallery
  /*******************************************/

  .gallery-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .event-gallery {
    margin-top: 20px;
    padding: 25px;
  }
  
  .image-container {
    display: flex;
    justify-content: space-between;
  }
  
  .event-gallery img {
    max-width: 48%; /* Adjust the width as needed */
    height: auto;
  }


  /******************************************
  /* Inventory
  /*******************************************/

  .inventoryintro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
  }



/******************************************
  /* Connect
  /*******************************************/

 .contactpage h2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.contactpage div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
  
  .contactpage form {
    padding-top: 100px;
  }

  .register-group label {
    color: #000000;
    cursor: pointer;
    font-weight: 400;
  }
  .register-group input,
  .register-group select,
  .register-group textarea {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    display: block;
    margin: 5px 0 27px 0;
    padding: 5px 8px;
  }
  .register-group input,
  .register-group textarea {
    width: 100%;
  }
  .register-group select {
    height: 34px;
    width: 60px;
  }
  .register-group textarea {
    height: 78px;
  }



  form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #b30000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  form input,
  form textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in width */
  }
  
  form textarea {
    height: 150px;
  }
  
  form button {
    background-color: white;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .googmap{
    display: flex;
    justify-content: center;
    padding: 25px;
    max-height: 25%;
  }
  

/******************************************
  /* Responsive STYLES
  /*******************************************/
  @media screen and (max-width: 850px) {
/* 
Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* 
Header & Footer
*/
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  padding-top: 50px;
}
.nav {
  display: flex;
  justify-content: center;
}

.primary-header a,
.primary-footer a {
  color: black;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #344945;
}

.nav li {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}

.primary-footer{
  padding-top: 50px;
  padding-bottom: 15px;
}




/* 
Custom Styles
*/

body{
  background: #;
  color: ;;
  margin: 0 15px;
}

h1, h2, h3, h4 {
  color: #;
}

h1 {
  font-size: 25px;
  line-height: 44px;
  text-transform: capitalize;
}
h2 {
  font-size: 20px;
  line-height: 44px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
p{
  font-size: 15px;
  font-weight: 381;
  padding: 5px 0;
}

/* 
Buttons
*/


.facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

.facebook img {
  max-width: 50%;
  height: auto;
  max-height: 75px; /* Adjust the max-height as needed */
  margin: 0 auto; /* Center horizontally */
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin: 5px; /* Adjust margin as needed */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #3498db; /* Adjust background color as needed */
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #2980b9; /* Adjust hover background color as needed */
}


/* 
Index
*/
.intro h1{
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.intro h3{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.logoimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoimg img {
  padding: 10px;
  height: 100%;
  width: 100%;
  margin: 10px 0;
  vertical-align: top;
}

.quote{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #b30000;
  padding: 10px 0;
}

.quote h2{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b30000;
  padding: 10px 0;
}



a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}



/* 
Connect
*/

.contactpage h2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.contactpage div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#contactform{
  display: none;
}

  }
