  /******************************************
  /* Reset
  /*******************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* 
Header & Footer
*/
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  padding-top: 50px;
}
.nav {
  display: flex;
  justify-content: center;
}

.primary-header a,
.primary-footer a {
  color: black;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #344945;
}

.nav li {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}

.primary-footer{
  padding-top: 50px;
  padding-bottom: 15px;
}

.socmed{
  display: flex;
  justify-content: center;
  align-items: center;
}

.socmed img {
  padding: 10px;
  height: 50px;
  margin: 22px 0 22px 0;
  vertical-align: top;
}


  /******************************************
  /* Styles
  /*******************************************/

body{
  background: #f4f4f4;
  color: black;
  margin: 0 250px;
}

h1, h2, h3, h4 {
  color: #648880;
}

h1 {
  font-size: 25px;
  line-height: 44px;
  text-transform: capitalize;
}
h2 {
  font-size: 20px;
  line-height: 44px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
p{
  font-size: 15px;
  font-weight: 381;
  padding: 5px 0;
}

  /******************************************
  /* Buttons
  /*******************************************/
.btn {
  border-radius: 5px;
  color: rgb(16, 0, 117);
  cursor: ;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  padding: 10px;
  }

  .btn-alt:hover {
    background: rgb(255, 255, 255);
    color: #960000;
  }

    /******************************************
  /* Index
  /*******************************************/
.intro h1{
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.intro h3{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.logoimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoimg img {
  padding: 10px;
  height: 40%;
  width: 40%;
  margin: 10px 0;
  vertical-align: top;
}

.btn-home{
  display: flex;
  justify-content: space-around;
}

.bio p{
  display: flex;
  justify-content: flex-start;
  justify-items: auto;
  align-content: flex-start;
  align-items: center;
}

.headshot{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}


    /******************************************
  /* Gallery
  /*******************************************/

  .gallery1{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 50%;
  }


.portintro h1{
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.porthead h3{
  display: flex;
  justify-content: center;
  align-items: center;
 padding-top: 10px;
}

.education h3{
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.education a{
  display: flex;
  justify-content: flex-start;
}

.education section{
  display: flex;
	margin: 0 auto;
  flex-direction: row;
	padding-bottom: 30px;
	width: 960px;
}
.education div{
  display: flex;
  flex-direction: column;
}
.education #mem{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
  padding-bottom: 40px;
  margin-left: 30%;
}

.education #reb{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
  margin-left: 30%;
}


.portbtn {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  color: black;
  font-weight: 600;
  letter-spacing: .8px;
  text-transform: uppercase;
  padding: 20px;
  }


  .portbtn:hover {
    color: #ff0000;
    text: blue;
  }

  .experience h3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border-bottom: 2px solid black;
  }
  
  .experience{
    padding: 20px 0;
  }

  .experience h4 {
    font-weight: 450;
    padding-top: 25px;
  }

  .experience h5{
    padding-bottom: 5px;
  }

  table {
    border: 2px solid darkgreen; 
    border-spacing:10px; 
    margin: 0 auto;
  }
  
  th, td {
    border: 1px solid darkgrey; 
  } 
  
  td {
    text-align: center;
  }

.publications h3{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.publications div{
  margin-left: 25%;
}

.publications img{
  width: 10%;
}

.publications h4{
  padding-bottom: 100px;
  margin-bottom: 0px;
}

.projects h3{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.projects img{
  width: 20%;
}
.tracker img{
  width: 20%;
}
.twitter img{
  width: 20%;
}
.tableau img{
  width: 20%;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.certifications h3{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.certifications p{
margin-left: 35%;
}

.projects p{
  display:contents;
}
.campaignmat p{
  display: contents;
}

.campaignmat img{
  display: flex;
  flex-direction: column;
}

.tracker p{
  display: contents;
}
.twitter p{
  display: contents;
}
.tableau p{
  display: contents;
}
#smallintro{
  display: none;
 }



/******************************************
  /* Connect
  /*******************************************/

 .contactpage h2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.contactpage div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
  
  .contactpage form {
    padding-top: 100px;
  }

  .register-group label {
    color: #000000;
    cursor: pointer;
    font-weight: 400;
  }
  .register-group input,
  .register-group select,
  .register-group textarea {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    display: block;
    margin: 5px 0 27px 0;
    padding: 5px 8px;
  }
  .register-group input,
  .register-group textarea {
    width: 100%;
  }
  .register-group select {
    height: 34px;
    width: 60px;
  }
  .register-group textarea {
    height: 78px;
  }

/******************************************
  /* Responsive STYLES
  /*******************************************/
  @media screen and (max-width: 850px) {
